/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  padding: 0px;
}

/* Navbar Styles */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.nav-link.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
}

/* Form Container Styles */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-direction: column;
  background: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 400px;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
}

.form-container form input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 10px;
  width: 100%;
}

.form-container form button {
  border: 1px solid black;
  background: linear-gradient(to right, #434343, #000000);
  color: white;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.form-container form button:hover {
  background: linear-gradient(to right, #434343, #000000);
}

/* Footer Styles */
.footer {
  color: white;
  padding: 25px;
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* Page Not Found Styles */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* Contact Us Styles */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container Styles */
.container {
  width: 100%; /* Ensure full width */
  max-width: 100%; /* Ensure full width */
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

tr:hover {
  background-color: #e8e8e8;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}


/* Navbar Styles */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
  margin-bottom: 0; /* Remove bottom margin */
}

/* Carousel Container */
.carousel-container {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent horizontal scrolling */
}

/* Adjust container styles */
.container-fluid {
  padding: 0;
  margin: 0;
}


.category-card {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-image {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  object-fit: contain;
}
